@{
    ViewData["Title"] = "Index";
}

<h1>Weclome to the Bible Search Application!</h1>

<body>
    Use this application to search for bible verses <a class= asp-area="" asp-controller="VerseSearch" asp-action="SearchForm">Here</a>
</body>


